<h1>Articles</h1>

<%= link_to 'New article', new_article_path %>

<table id="articles">
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Show links</th>
    <th>Edit links</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.content %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
    </tr>
  <% end %>
</table>