<h1>Article was successfully created</h1>

<p>
<strong>Title:</strong>
<%= @article.title %>
</p>

<p>
<strong>Content:</strong>
<%= @article.content %>
</p>

<h2>Add a comment:</h2>
<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>

  <p>
    <%= form.label :Commenter %><br>
    <%= form.text_field :commenter %>
  </p>

  <p>
    <%= form.label :Body %><br>
    <%= form.text_field :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Delete', article_path(@article),
    method: :delete,
    data: { confirm: 'Are you sure?'} %> |
<%= link_to 'Back', articles_path %>